<h3 class="my-1">Your Notes</h3>
<hr />

<div id="notes" class="row container-fluid">
    <div class="noteCard my-2 mx-2 card" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">{{this}}</h5>
            <p class="card-text">{{this}}</p>
            <button id="delete" onclick="deleteNote(this.id)" class="btn btn-primary">Delete Note</button>
        </div>
    </div>

</div>